body{
    background: linear-gradient(to bottom right,#ddff99,#eeffcc);
    height: 582px;
    margin: 0%;
    width: 100%;
}
.sf{
    display: flex;
    flex-direction: column;
}

.fc1{
    display: flex;
    height: 60px;
    background: linear-gradient(to bottom,#b37700,#cc8800); 
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px rgb(15, 15, 100);
}

.fc2{
    width: 500px;
    height: auto;
    border: 1px solid blanchedalmond;
    margin-left: 375px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: darksalmon;
    box-shadow: 2px 2px 2px  rgb(42, 84, 173);
    padding-left: 30px;
    padding-bottom: 20px;
    ;
}
.fc1 h1{
    color: wheat;
    text-shadow: 2px 2px black;
    padding-left: 450px;
    width: 100%;
}
.fc2 h3{
   
    font-size: 30px;
    color: brown;
    text-shadow: 1px 1px 1px whitesmoke;
    
}

#ff{
    display: flex;
    flex-direction: row;
   
}