
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
<form method="post">
    <label for="id">DepartmentID</label>
    <input type="number" id="id" name="id" />
    <br />
    <input type="submit" value="Submit" />
</form>
<br />
@Html.ActionLink("View All Details", "Index")
