.table1{
    width: 1000px;
    margin-left: 350px;
    border: 2px solid saddlebrown;
    padding: 20px;
    margin-bottom: 20px;
}

#updatediv{
    margin-top: 70px;
    width: 600px;
    margin-left: 32%;
}
